In [1]:
import pandas as pd
import numpy as np

In [2]:
inpath = '/Users/Tom/python_projects/Memoire/Data/clean/6.5/presid_clean.csv'
df = pd.read_csv(inpath)

In [3]:
df.head()

     year Departement Parti  Score
0  1988.0         ain     C  21.21
1  1988.0         ain     D  19.12
2  1988.0         ain    ED  16.09
3  1988.0         ain    EG  12.18
4  1988.0         ain     G  31.41

In [4]:
df2 = pd.DataFrame(columns=['year', 'dep', 'Score_C', 'Score_D', 'Score_ED', 'Score_EG', 'Score_G', 'Score_Autre'])

In [5]:
for year in df.year.unique():
    for dp in df.Departement.unique():
        d = {}
        for parti in df.Parti.unique():
            try:
                d[parti] = df[(df.year == year) & (df.Departement == dp) & (df.Parti == parti)].Score.values[0]
            except IndexError:
                d[parti] = 0
        row = np.array([[year, dp, d['C'], d['D'], d['ED'], d['EG'], d['G'], d['Autre']]])
        df2 = df2.append(pd.DataFrame(row,
                                      columns=['year', 'dep', 'Score_C', 'Score_D', 'Score_ED', 'Score_EG', 
                                               'Score_G', 'Score_Autre']),
                        ignore_index=True)

In [38]:
#trop bien. On se débarasse des accents et autres saloperies ?
#Hum en fait les saloperies viennent uniquement de ce que j'ai scrapé pour 2017. Traitement à la source possible ?

#Pas de temps à perdre. Méthode barbare

df2.dep.unique()

array(['ain', 'aisne', 'allier', 'alpes-de-haute-provence',
       'alpes-maritimes', 'ardeche', 'ardennes', 'ariege', 'aube', 'aude',
       'aveyron', 'bas-rhin', 'bouches-du-rhone', 'calvados', 'cantal',
       'charente', 'charente-maritime', 'cher', 'correze', 'corse-du-sud',
       'cote-d-or', 'creuse', 'deux-sevres', 'dordogne', 'doubs', 'drome',
       'essonne', 'eure', 'eure-et-loir', 'finistere',
       'francais-de-l-etranger', 'gard', 'gers', 'gironde', 'guadeloupe',
       'guyane', 'haut-rhin', 'haute-corse', 'haute-garonne',
       'haute-loire', 'haute-marne', 'haute-saone', 'haute-savoie',
       'haute-vienne', 'hautes-alpes', 'hautes-pyrenees', 'hauts-de-seine',
       'herault', 'ille-et-vilaine', 'indre', 'indre-et-loire', 'isere',
       'jura', 'la-reunion', 'landes', 'loir-et-cher', 'loire',
       'loire-atlantique', 'loiret', 'lot', 'lot-et-garonne', 'lozere',
       'maine-et-loire', 'manche', 'marne', 'martinique', 'mayenne',
       'mayotte', 'meurthe-et-moselle', 'meuse', 'morbihan', 'moselle',
       'nievre', 'nord', 'nouvelle-caledonie', 'oise', 'orne', 'paris',
       'pas-de-calais', 'polynesie-francaise', 'puy-de-dome',
       'pyrenees-atlantiques', 'pyrenees-orientales', 'rhone',
       'saint-pierre-et-miquelon', 'saone-et-loire', 'sarthe', 'savoie',
       'seine-et-marne', 'seine-maritime', 'seine-saint-denis', 'somme',
       'tarn', 'tarn-et-garonne', 'territoire-de-belfort', 'val-d-oise',
       'val-de-marne', 'var', 'vaucluse', 'vendee', 'vienne', 'vosges',
       'wallis-et-futuna', 'yonne', 'yvelines', 'cotes-d-armor',
       'saint-martin-et-saint-barthelemy', 'Ain', 'Aisne', 'Allier',
       'Alpes-Maritimes', 'Alpes-de-Haute-Provence', 'Ardennes',
       'Ard\xc3\x83\xc2\xa8che', 'Ari\xc3\x83\xc2\xa8ge', 'Aube', 'Aude',
       'Aveyron', 'Bas-Rhin', 'Bouches-du-Rh\xc3\x83\xc2\xb4ne',
       'Calvados', 'Cantal', 'Charente', 'Charente-Maritime', 'Cher',
       'Corr\xc3\x83\xc2\xa8ze', 'Corse-du-Sud', 'Creuse',
       "C\xc3\x83\xc2\xb4te-d'Or", "C\xc3\x83\xc2\xb4tes-d'Armor",
       'Deux-S\xc3\x83\xc2\xa8vres', 'Dordogne', 'Doubs',
       'Dr\xc3\x83\xc2\xb4me', 'Essonne', 'Eure', 'Eure-et-Loir',
       'Finist\xc3\x83\xc2\xa8re',
       'Fran\xc3\x83\xc2\xa7ais \xc3\x83\xc2\xa9tablis hors de France',
       'Gard', 'Gers', 'Gironde', 'Guadeloupe', 'Guyane', 'Haut-Rhin',
       'Haute-Corse', 'Haute-Garonne', 'Haute-Loire', 'Haute-Marne',
       'Haute-Savoie', 'Haute-Sa\xc3\x83\xc2\xb4ne', 'Haute-Vienne',
       'Hautes-Alpes', 'Hautes-Pyr\xc3\x83\xc2\xa9n\xc3\x83\xc2\xa9es',
       'Hauts-de-Seine', 'H\xc3\x83\xc2\xa9rault', 'Ille-et-Vilaine',
       'Indre', 'Indre-et-Loire', 'Is\xc3\x83\xc2\xa8re', 'Jura',
       'La R\xc3\x83\xc2\xa9union', 'Landes', 'Loir-et-Cher', 'Loire',
       'Loire-Atlantique', 'Loiret', 'Lot', 'Lot-et-Garonne',
       'Loz\xc3\x83\xc2\xa8re', 'Maine-et-Loire', 'Manche', 'Marne',
       'Martinique', 'Mayenne', 'Mayotte', 'Meurthe-et-Moselle', 'Meuse',
       'Morbihan', 'Moselle', 'Ni\xc3\x83\xc2\xa8vre', 'Nord',
       'Nouvelle-Cal\xc3\x83\xc2\xa9donie', 'Oise', 'Orne', 'Paris',
       'Pas-de-Calais',
       'Polyn\xc3\x83\xc2\xa9sie fran\xc3\x83\xc2\xa7aise',
       'Puy-de-D\xc3\x83\xc2\xb4me',
       'Pyr\xc3\x83\xc2\xa9n\xc3\x83\xc2\xa9es-Atlantiques',
       'Pyr\xc3\x83\xc2\xa9n\xc3\x83\xc2\xa9es-Orientales',
       'Rh\xc3\x83\xc2\xb4ne',
       'Saint-Martin/Saint-Barth\xc3\x83\xc2\xa9lemy',
       'Saint-Pierre-et-Miquelon', 'Sarthe', 'Savoie',
       'Sa\xc3\x83\xc2\xb4ne-et-Loire', 'Seine-Maritime',
       'Seine-Saint-Denis', 'Seine-et-Marne', 'Somme', 'Tarn',
       'Tarn-et-Garonne', 'Territoire de Belfort', "Val-d'Oise",
       'Val-de-Marne', 'Var', 'Vaucluse', 'Vend\xc3\x83\xc2\xa9e',
       'Vienne', 'Vosges', 'Wallis et Futuna', 'Yonne', 'Yvelines'], dtype=object)

In [17]:
dico = {"C\xc3\x83\xc2\xb4te-d'Or": "cote d'or",
       'Ari\xc3\x83\xc2\xa8ge': "ariege",
       'Ard\xc3\x83\xc2\xa8che': 'ardeche',
       'Bouches-du-Rh\xc3\x83\xc2\xb4ne': 'bouches-du-rhone',
       'Corr\xc3\x83\xc2\xa8ze': 'correze',
       ''}

,year,dep,Score_C,Score_D,Score_ED,Score_EG,Score_G,Score_Autre
1279,2017.0,Vienne,24.88,17.96,24.79,23.04,7.09,2.24
1280,2017.0,Vosges,19.86,18.03,35.65,19.02,4.96,2.47
1281,2017.0,Wallis et Futuna,30.48,28.53,8.59,5.37,25.22,1.81
1282,2017.0,Yonne,19.63,19.91,34.84,18.6,4.79,2.22
1283,2017.0,Yvelines,28.86,27.25,17.26,17.75,6.93,1.96

In [32]:
import unicodedata
def rem_accents(s):
    s2 = s.decode('utf-8')
    nfkd_form = unicodedata.normalize('NFKD', s2)
    only_ascii = nfkd_form.encode('ASCII', 'ignore')
    return only_ascii

rem_accents(df2.dep.unique()[-6])

'VendAe'

In [41]:
outpath = '/Users/Tom/python_projects/Memoire/Data/clean/clean_presid2.csv'
df2.to_csv(outpath, encoding='utf-8')